.cor-viz {
  font-size: 14px;
  margin-top: 10px;
  position: relative;

  .axis, .label {

    font-weight: normal;
    font-size: 10px;

  }

  .figure {

    &__credits {

      margin-top: 14px;
      color: #9c9c9c;
      font-size: 14px;
      line-height: 1.4;

      &>p:first-of-type:before {
        // remove icon
        content: '';
        padding: 0;
      }

    }

  }

}

.cor-viz-rents {

  &__svg {

    path.map__item {

      stroke: #fff;
      stroke-width: 1;

      &.-hilight {

        stroke: gray;
        stroke-width: 1;

      }

    }

    circle {

      fill-opacity: .8;
      stroke-width: 1;
      stroke-opacity: 1;
      stroke: gray;

      &.-hilight {

        fill-opacity: 1;
        stroke: #1a1a1a;
        stroke-width: 2;

      }

    }

  }

  &-timeline {

    &__svg {

      path.line {

        stroke-width: 1;

      }

      .y.axis, .x.axis {

        .domain, .tick line {

          stroke: gray;
          stroke-dasharray: 1, 1;

        }

        // FIXME
        // & > .tick:first-child {

        //   display: none;

        // }

      }

    }

  }

  &__legend {

    padding-bottom: 20px;

    img {

      display: block;
      width: 50%;
      margin: 0 auto;

    }

  }

  &__selector {

    select {

      background: white;
      margin: 0;
      padding: 5px;
      border: 1px solid gray;
      display: block;
      width: 100%;

      option {

        font-size: 14px;
        padding: 0px;

      }

    }

  }

  &__infobox-wrapper {

    border: 1px solid gray;
    margin-top: 3px;
    padding: 9px;

    &.-hidden {

      visibility: hidden;

    }

  }

  &__infobox {

    &.-empty {

      visibility: hidden;

    }

  }

  &__scatter-legend-item {

    padding-top: 15px;

    svg {

      float: left;

      circle {

        fill-opacity: .8;
        stroke-opacity: 1;
        stroke: gray;

      }

    }

    span {

      margin-left: 10px;
      line-height: 30px;

    }

  }

  // FIXME
  &__container--scatter {

    .cor-viz-rents__infobox {

      border: 1px solid gray;
      margin-top: 3px;
      padding: 9px;

      &.-empty {

        visibility: hidden;

      }

    }

    // .cor-viz-rents__svg {

    //   margin: 0 auto;

    // }

  }

}
